@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Forgot Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MailCrafter</title>
    <link rel="stylesheet" href="~/css/loading.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/base.css" />
</head>
<body>
    <div class="auth">
        <div class="auth__container">
            <div class="auth__hero">
                <div class="auth__hero--inner">
                    <h2 class="auth__hero--title">Reset your password</h2>
                    <img src="~/images/auth-hero.png" alt="Reset Password" class="auth__hero--img" />
                </div>
            </div>
            <div class="auth__content">
                <div class="login-container">
                    <div class="login-box">
                        <h1 class="auth__content--title">Forgot Password</h1>
                        <form method="post" onsubmit="forgotPassword(event)">
                            <div class="form-group">
                                <label class="form-label" for="Email">Email</label>
                                <input required type="email" placeholder="Enter your email..." class="form-control" id="Email" />
                                <span class="text-danger"></span>
                            </div>
                            <div id="forgot_password_error" class="text-danger" style="margin: 10px; display: none;"></div>
                            <button type="submit" class="btn-login">Send Reset Link</button>
                            <div class="auth-text__box">
                                <p class="auth-text__content">Remember your password? <a class="auth-text__content--bold" href="/login">Log in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html> 