@model MailCrafter.MVC.Controllers.ResetPasswordViewModel

@{
    Layout = "_AccountLayout";
    ViewData["Title"] = "Reset Password";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MailCrafter</title>
    <link rel="stylesheet" href="~/css/loading.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/base.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="auth">
        <div class="auth__container">
            <div class="auth__hero">
                <div class="auth__hero--inner">
                    <h2 class="auth__hero--title">Create new password</h2>
                    <img src="~/images/auth-hero.png" alt="Reset Password" class="auth__hero--img" />
                </div>
            </div>
            <div class="auth__content">
                <div class="login-container">
                    <div class="login-box">
                        <div class="mb-3 text-center">
                            <img src="~/images/logo.png" alt="MailCrafter Logo" class="img-fluid" style="max-height: 60px;" />
                        </div>
                        <h1 class="auth__content--title py-2">Reset Password</h1>
                        <form method="post" onsubmit="resetPassword(event)">
                            <input type="hidden" id="Token" value="@Model.Token" />
                            <input type="hidden" id="Email" value="@Model.Email" />
                            
                            <div class="form-group">
                                <label class="form-label" for="NewPassword">New Password</label>
                                <div class="password-container">
                                    <input required type="password" placeholder="Enter new password..." class="form-control" id="NewPassword" />
                                    <button type="button" onclick="viewPassword()" class="toggle-password">
                                        <i class="eye-icon"></i>
                                    </button>
                                </div>
                                <span class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="form-label" for="ConfirmPassword">Confirm Password</label>
                                <div class="password-container">
                                    <input required type="password" placeholder="Confirm new password..." class="form-control" id="ConfirmPassword" />
                                    <button type="button" onclick="viewPassword()" class="toggle-password">
                                        <i class="eye-icon"></i>
                                    </button>
                                </div>
                                <span class="text-danger"></span>
                            </div>

                            <div id="reset_password_error" class="text-danger" style="margin: 10px; display: none;"></div>
                            <button type="submit" class="btn-login">Reset Password</button>
                            <div class="auth-text__box">
                                <p class="auth-text__content">Remember your password? <a class="auth-text__content--bold" href="/login">Log in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/site.js"></script>
</body>
</html> 