@{
    ViewData["Title"] = "Email Composer";
}

<div id="editor"></div>
<form method="post">
    <div id="editor"></div>
    <input type="hidden" id="editorContent" name="Content" />
    <button type="submit" onclick="document.getElementById('editorContent').value = editor.getHTMLCode(); return true;">Submit</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Note how we're using RichTextEditor directly, not window.RichTextEditor
        // as window is implied in browser JavaScript
        var editor = new RichTextEditor(document.getElementById("editor"));
        editor.setHTMLCode("Design body here");

        // Example function to get content
        function getEditorContent() {
            return editor.getHTMLCode();
        }
    });
</script>

<link rel="stylesheet" href="~/richtexteditor/rte_theme_default.css" />
<script src="~/richtexteditor/rte.js"></script>
<script src="~/richtexteditor/plugins/all_plugins.js"></script>