@model MailCrafter.MVC.Models.LoginViewModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Log in";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="login-container">
    <div class="login-box">
        <h1>Log in</h1>

        <form asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <div class="password-container">
                    <input asp-for="Password" type="password" class="form-control" />
                    <button type="button" class="toggle-password">
                        <i class="eye-icon"></i>
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group checkbox">
                <input type="checkbox" id="remember" name="remember" />
                <label for="remember">Remember my username</label>
            </div>

            <button type="submit" class="btn-login">Log in</button>

            <div class="forgot-password">
                <a href="#">Forgot password?</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
